<div class="card-body"> 
  <%= form_with(model: visitante, local: true) do |form| %>
  <% if visitante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visitante.errors.count, "error") %> prohibited this visitante from being saved:</h2>

      <ul>
        <% visitante.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
    <%= render 'visitantes/detallespersona', form: form %>
    <div class="actions">
      <%= form.submit %>
    </div>
  
  <% end %>
</div>



<%#= render partial: "detallespersonas/form", form: form, locals: {personable: @visitante} %>
 

      <%#= render partial: "detallespersonas/form", locals: {personable: @visitante} Unable to make it work %> 

      <%#=  NO GOOD  form.fields_for :detallespersonas do |f| %>
       <%#= form.fields_for :detallespersonas, detallespersonas[0].present? ? detallespersonas[0] : Detallespersonas.new do |f|  NO GOOD %>

      <%#= form.fields_for :locations, @user.locations[0].present? ? @user.locations[0] : Location.new  do |f| NO GOOD%>



     <%#= form.fields_for :detallespersonas, @visitante.detallespersonas.last.present? ? @visitante.detallespersonas.last : @visitante.detallespersonas.new do |f| %>

        <%#= f.label :nombre %>
        <%#= f.text_field :nombre %>
      <%# end %>
