<p id="notice"><%= notice %></p>

<h1>Visitantes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Cedula</th>
      <th>Huella Digital</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @visitantes.each do |visitante| %>
      <tr>
        <td><%= visitante.detallespersonas.last.nombre  %></td>
        <td><%= visitante.detallespersonas.last.apellido  %></td>
        <td><%= visitante.detallespersonas.last.edad  %></td>
        <td><%= visitante.detallespersonas.last.cedula  %></td>
        <td><%= visitante.detallespersonas.last.huella_digital  %></td>
        <td><%= visitante.contacto.telefono %></td>
        <td><%= visitante.contacto.celular %></td>
        <td><%= visitante.contacto.email %></td>
        <td><%= link_to 'Show', visitante %></td>
        <td><%= link_to 'Edit', edit_visitante_path(visitante) %></td>
        <td><%= link_to 'Destroy', visitante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visitante', new_visitante_path %>
