<p id="notice"><%= notice %></p>


<%= render partial: "detallespersonas/detallespersonas", locals: {personable: @visitante} %>

<%= render partial: "detallespersonas/form", locals: {personable: @visitante} %>

<%= link_to 'Edit', edit_visitante_path(@visitante) %> |
<%= link_to 'Back', visitantes_path %>
