<%= form_with(model: residente, local: true) do |form| %>
  <% if residente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(residente.errors.count, "error") %> prohibited this residente from being saved:</h2>

      <ul>
        <% residente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-body"> 
    <div class="field">
      <%= form.label :principal %>
      <%= form.check_box :principal %>
    </div>
    <%#= render 'residentes/detallespersona', form: form %>
    <%= render 'residentes/detallespersona', form: form %>
  </div>

<br>
<br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
