<p id="notice"><%= notice %></p>

<h1>Residentes</h1>

<table>
  <thead>
    <tr>
      <th>Principal</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Cedula</th>
      <th>Huella Digital</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residentes.each do |residente| %>
      <tr>
        <td><%= residente.principal %></td>
        <td><%= residente.detallespersonas.last.nombre %></td>
        <td><%= residente.detallespersonas.last.apellido %></td>
        <td><%= residente.detallespersonas.last.edad %></td>
        <td><%= residente.detallespersonas.last.cedula %></td>
        <td><%= residente.detallespersonas.last.huella_digital %></td>
        <td><%= residente.contacto.telefono %></td>
        <td><%= residente.contacto.celular %></td>
        <td><%= residente.contacto.email %></td>
        <td><%= link_to 'Show', residente %></td>
        <td><%= link_to 'Edit', edit_residente_path(residente) %></td>
        <td><%= link_to 'Destroy', residente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Residente', new_residente_path %>
