<%= form_with(model: propiedad, local: true) do |form| %>
  <% if propiedad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(propiedad.errors.count, "error") %> prohibited this propiedad from being saved:</h2>

      <ul>
        <% propiedad.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :conjunto_id %>
    <%= form.text_field :conjunto_id %>
  </div>

  <div class="field">
    <%= form.label :residente_id %>
    <%= form.text_field :residente_id %>
  </div>

  <div class="field">
    <%= form.label :edificio %>
    <%= form.text_field :edificio %>
  </div>

  <div class="field">
    <%= form.label :propiedad_type, 'Tipo de Propiedad' %>
    <%= form.text_field :propiedad_type %>
  </div>

  <div class="field">
    <%= form.label :identificador, 'Numero' %>
    <%= form.text_field :identificador %>
  </div>

  <div class="field">
    <%= form.label :parqueaderos %>
    <%= form.text_field :parqueaderos %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
