<p id="notice"><%= notice %></p>

<h1>Propiedads</h1>

<table>
  <thead>
    <tr>
      <th>Propiedad type</th>
      <th>Conjunto</th>
      <th>Residente</th>
      <th>Edificio</th>
      <th>Identificador</th>
      <th>Parqueaderos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propiedads.each do |propiedad| %>
      <tr>
        <td><%= propiedad.propiedad_type %></td>
        <td><%= propiedad.conjunto_id %></td>
        <td><%= propiedad.residente_id %></td>
        <td><%= propiedad.edificio %></td>
        <td><%= propiedad.identificador %></td>
        <td><%= propiedad.parqueaderos %></td>
        <td><%= link_to 'Show', propiedad %></td>
        <td><%= link_to 'Edit', edit_propiedad_path(propiedad) %></td>
        <td><%= link_to 'Destroy', propiedad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Propiedad', new_propiedad_path %>
